<div class="card">
    <img src="/img/image616.jpg" alt="">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <span class="span_sent">Готов к отправке</span>
    <span class="span_sell">Топ продаж</span>
    <button class="btn_card">
        <a href="/purchase-product?id={{id}}">Купить сейчас:<span> {{price}}$</span></a>
    </button>
</div>