<div class="card">
    <div class="header">
        <img src="/img/image616.jpg" alt="">
        <h2>{{name}}</h2>
    </div>
    <p>{{description}}</p>
    <div class="footer">
        {{#if readyTo}}
        <div class="ReadyTo">Готов к отправке</div>
        {{/if}}
        {{#if topToSales}}
        <div class="topToSales">Топ продаж</div>
        {{/if}}
        <button class="btn_card">
            <a href="/purchase-product?id={{id}}">Купить сейчас:<span> {{price}}$</span></a>
        </button>
    </div>
</div>