{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
    <div class="header">
        <div class="header_title">
            <h1>Товары</h1>
            <p>Комп'ютери та ноутбуки/Комп'ютери, неттопи, моноблоки</p>
        </div>
        <div class="header_btn">
            <button>
                <a href="/product-create">Добавить товар</a>
            </button>
        </div>
    </div>
    <section>
        <ul class="content">
            {{#each list}}
                {{> card}}
            {{/each}}
        </ul>
    </section>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}