{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
        <section class="order_body">
            <h1 class="order_list">Мои заказы</h1>
            <ul>
                {{#each userList}}
                <li>
                    <a href="" class="order_stroke">
                        <div class="order_id">ID: {{id}}</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>{{product.name}}</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>{{totalPrice}} ₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>{{cashBack}} ₴</h5>
                        </div>
                    </a>
                    {{> divider}}
                </li>
                {{/each}}
            </ul>
        </section>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}