{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
        <section class="order_body">
            <h1 class="order_list">Мои заказы</h1>
            <ul>
                <li>
                    <div class="order_stroke">
                        <div class="order_id">ID: 14587</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>Футбольный мяч</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>1 260.75₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>12.60₴</h5>
                        </div>
                    </div>
                    {{> divider}}
                </li>
                <li>
                    <div class="order_stroke">
                        <div class="order_id">ID: 14587</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>Футбольный мяч</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>1 260.75₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>12.60₴</h5>
                        </div>
                    </div>
                    {{> divider}}
                </li>
                <li>
                    <div class="order_stroke">
                        <div class="order_id">ID: 14587</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>Футбольный мяч</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>1 260.75₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>12.60₴</h5>
                        </div>
                    </div>
                    {{> divider}}
                </li>
                <li>
                    <div class="order_stroke">
                        <div class="order_id">ID: 14587</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>Футбольный мяч</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>1 260.75₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>12.60₴</h5>
                        </div>
                    </div>
                    {{> divider}}
                </li>
                <li>
                    <div class="order_stroke">
                        <div class="order_id">ID: 14587</div>
                        <div class="order_field">
                            <p>Товары</p>
                            <h5>Футбольный мяч</h5>
                        </div>
                        <div class="order_field">
                            <p>Сумма заказа</p>
                            <h5>1 260.75₴</h5>
                        </div>
                        <div class="order_field">
                            <p>Бонусы</p>
                            <h5>12.60₴</h5>
                        </div>
                    </div>
                    {{> divider}}
                </li>
            </ul>
        </section>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}